name: Go Tests

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
      - unlocked
    paths:
      - "server/**"
  push:
    branches:
      - main
    paths:
      - "server/**"
  workflow_dispatch:

jobs:
  test-server:
    name: Run Server tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@master

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.23

      - name: Set up Just CLI
        uses: extractions/setup-just@v3

      - name: Run Server tests
        run: just test-server
